/**
 * Overrides for Divi.
 */
 /* Up to 30rem (408px) */
.et_pb_module.page-hero {
	position: relative;
	height: 100%;
	background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 45%;
	overflow: hidden;
}

.page-hero .et_pb_fullwidth_header_container.center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.et_pb_module.page-hero.-home .header-content {
	clip: rect(.1rem, .1rem, .1rem, .1rem);
	position: absolute !important;
	height: .1rem;
	width: .1rem;
	overflow: hidden;
}

.et_pb_module.page-hero.-home .header-content:hover,
.et_pb_module.page-hero.-home .header-content:focus {
	background-color: white;
	border-radius: 0;
	box-shadow: 0 0 .2rem .2rem rgba(0, 0, 0, .6);
	clip: auto !important;
	color: black;
	display: block;
	font-size: .875rem;
	font-weight: bold;
	height: auto;
	left: .5rem;
	line-height: normal;
	padding: 1.5rem 2.3rem 1.4rem;
	text-decoration: none;
	top: .5rem;
	width: auto;
	z-index: 100000;
}

.entry-content {
	line-height: 2;
}

.et_pb_section:not(.et_pb_fullwidth_section) {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.et_pb_section.section_has_divider {
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.et_pb_section:not(.et_pb_fullwidth_section) + .et_pb_section:not(.et_pb_fullwidth_section) {
	padding-top: 0;
}

.et_pb_row {
	padding-top: 0;
	padding-bottom: 2rem;
}

.et_pb_row:nth-last-child(1) {
	padding-bottom: 0;
}

#footer-widgets .footer-widget .fwidget.et_pb_widget.widget_sp_image {
	float: none;
	text-align: center;
}

#footer-widgets .footer-widget .fwidget.et_pb_widget.widget_nav_menu {
	float: none;
}

.menu-footer-navigation-container .menu {
	columns: 2;
	column-gap: 1rem;
}

#footer-widgets .footer-widget li.menu-item {
	display: block;
	padding-left: 0;
	margin-right: 0;
	font-size: .875rem;
}

/* Up to 48rem (768px) */
@media (--bp-small) {
	.page-template-default.et_fixed_nav.et_show_nav #page-container {
		padding-top: 6.9375rem;
	}

	.et_pb_module.page-hero {
		padding-top: 40%;
	}

	.et_pb_section:not(.et_pb_fullwidth_section) {
		padding-top: 4.5rem;
		padding-bottom: 4.5rem;
	}

	.et_pb_section.section_has_divider {
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	.et_pb_section:not(.et_pb_fullwidth_section) + .et_pb_section:not(.et_pb_fullwidth_section) {
		padding-top: 0;
	}

	.et_pb_row {
		padding-top: 0;
		padding-bottom: 2.25rem;
	}

	.et_pb_row:nth-last-child(1) {
		padding-bottom: 0;
	}
}

/* Up to 61.25rem (980px) */
@media (--bp-medium) {
	.container.et_menu_container {
		width: 100%;
		max-width: 95%;
	}

	.et_fixed_nav #et-top-navigation {
		width: calc(100% - 11.25rem);
		padding-left: 0 !important;
	}

	nav#top-menu-nav,
	#top-menu,
	nav.fullwidthmenu-nav,
	.fullwidth-menu {
		float: right;
	}

	#logo {
		max-width: 11.25rem;
		max-height: unset !important;
	}

	.et-fixed-header #logo {
		max-height: 57% !important;
	}

	#top-menu li {
		padding-right: 0;
		padding-left: .75rem;
		font-size: .625rem !important;
	}

	.et_pb_module.page-hero {
		padding-top: 35%;
	}

	.et_pb_section:not(.et_pb_fullwidth_section) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.et_pb_section.section_has_divider {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	.et_pb_section:not(.et_pb_fullwidth_section) + .et_pb_section:not(.et_pb_fullwidth_section) {
		padding-top: 0;
	}

	.et_pb_row {
		padding-top: 0;
		padding-bottom: 2.5rem;
	}

	.et_pb_row:nth-last-child(1) {
		padding-bottom: 0;
	}

	#footer-widgets {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: center;
		padding-top: 3.375rem;
		padding-bottom: 3.375rem;
	}

	#footer-widgets .footer-widget:nth-of-type(1) {
		order: 0;
		flex: 0 1 auto;
		align-self: auto;
		margin-right: 0;
		margin-bottom: 0;
	}

	#footer-widgets .footer-widget:nth-of-type(2) {
		order: 0;
		flex: 0 1 100%;
		align-self: auto;
		margin-bottom: 0;
	}

	#footer-widgets .footer-widget .fwidget.et_pb_widget.widget_sp_image {
		float: left;
		text-align: initial;
	}

	.widget_sp_image-image-link {
		display: block;
	}

	.widget_sp_image-image-link .attachment-full {
		display: block;
	}

	#footer-widgets .footer-widget .fwidget.et_pb_widget.widget_nav_menu {
		float: right;
	}

	.menu-footer-navigation-container .menu {
		columns: unset;
		line-height: 1;
		text-align: right;
	}

	#footer-widgets .footer-widget li.menu-item {
		display: inline;
		padding-left: .5rem;
		margin-right: 0;
		font-size: .75rem;
	}
}

/* Up to 68.75rem (1100px) */
@media (--bp-large) {
	.et_fixed_nav #et-top-navigation {
		width: calc(100% - 12.5rem);
	}

	#logo {
		max-width: 12.5rem;
		max-height: unset !important;
	}

	.et-fixed-header #logo {
		max-height: 57% !important;
	}

	#top-menu li {
		font-size: 1rem !important;
	}

	.et_pb_module.page-hero {
		padding-top: 30%;
	}

	.et_pb_section:not(.et_pb_fullwidth_section) {
		padding-top: 5.5rem;
		padding-bottom: 5.5rem;
	}

	.et_pb_section.section_has_divider {
		padding-top: 11rem;
		padding-bottom: 11rem;
	}

	.et_pb_section:not(.et_pb_fullwidth_section) + .et_pb_section:not(.et_pb_fullwidth_section) {
		padding-top: 0;
	}

	.et_pb_row {
		padding-top: 0;
		padding-bottom: 2.75rem;
	}

	.et_pb_row:nth-last-child(1) {
		padding-bottom: 0;
	}

	#footer-widgets .footer-widget li.menu-item {
		padding-left: 1rem;
	}
}

/* Up to 87.8125rem (1405px) */
@media (--bp-max-width) {
	.container.et_menu_container {
		width: 80%;
		max-width: 1080px;
	}

	#logo {
		max-width: 12.5rem;
		max-height: unset !important;
	}

	.et-fixed-header #logo {
		max-height: 57% !important;
	}

	.et_pb_module.page-hero {
		padding-top: 25%;
	}

	.et_pb_section:not(.et_pb_fullwidth_section) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.et_pb_section.section_has_divider {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	.et_pb_section:not(.et_pb_fullwidth_section) + .et_pb_section:not(.et_pb_fullwidth_section) {
		padding-top: 0;
	}

	.et_pb_row {
		padding-top: 0;
		padding-bottom: 3rem;
	}

	.et_pb_row:nth-last-child(1) {
		padding-bottom: 0;
	}

	#footer-widgets .footer-widget li.menu-item {
		font-size: .875rem;
	}
}
